*{
    margin: 0;
    padding: 0;
}

.BG {
    background-repeat: no-repeat;
    background-size: cover;
}

.text1 {
    position: absolute;
    left: 35%;
    top: 35%;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.text2 {
    position: absolute;
    left: 35%;
    top: 45%;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px black;

}

#small {
    position: fixed;
    bottom: 3px;
    right: 5px;
    font-size: xx-small;
    color: black;
    font-weight: normal;
    text-shadow: none;


}